<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Category List</title>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        }
    </style>
</head>
<body>
<div>
    <a th:href = "@{'/admin/category/list/page/' + ${currentPage} + '?sortBy=' + ${sortBy} + '&sortOrder=' + ${sortOrder} + '&lang=en'}">ENG</a>
    <a th:href = "@{'/admin/category/list/page/' + ${currentPage} + '?sortBy=' + ${sortBy} + '&sortOrder=' + ${sortOrder} + '&lang=ua'}">УКР</a>
</div>
<hr>
<div>
    <a th:href="@{/logout}" th:text="#{label.signout}">Logout</a>
    <a th:href="@{/admin/user/list}" th:text="#{label.users}">Users</a>
    <a th:href="@{/admin/category/list}" th:text="#{label.categories}">Categories</a>
    <a th:href="@{/admin/activity/list}" th:text="#{label.activities}">Activities</a>
    <a th:href="@{/admin/activity/stat}" th:text="#{label.usersactivities}">Activities of Users</a>
</div>
<h4 th:text="#{label.categories}">
</h4>
<div>
    <table>
        <thead>
        <tr>
            <th>
                <a th:href ="@{'/admin/category/list/page/' + ${currentPage} + '?sortBy=id&sortOrder=' + ${sortReverse}}">
                ID
                </a>
            </th>
            <th>
                <a th:href ="@{'/admin/category/list/page/' + ${currentPage} + '?sortBy=name&sortOrder=' + ${sortReverse}}" th:text="#{label.nameobj}">
                Name
                </a>
            </th>
            <th>

            </th>
            <th th:text="#{label.edit}">
                Edit
            </th>

        </tr>
        </thead>
        <tbody>
        <tr th:each = "cat : ${categories}">
            <td th:text = "${cat.id}"></td>
            <td th:text = "${cat.name}"></td>
            <td>
            </td>
            <td>
                <form th:action = "@{/admin/category/edit/{id} (id=${cat.id})}" method="post" th:object="${category}" style="display: inline;">
                    <input type = "text" name="name" th:value="${cat.name}"  minlength="2" maxlength="30" pattern="[.0-9A-Za-zА-Яа-яҐґІіЇіЄє\s]{3,30}" required/>
                    <button type="submit" th:text="#{label.save}">Save</button>&nbsp;
                    <button type="reset" th:text="#{label.restore}">Restore</button>
                </form>
            </td>
            <td>
                <form th:action = "@{/admin/category/delete/{id} (id=${cat.id})}" method="post" style="display: inline;">
                    &nbsp;<button type="submit" th:text="#{label.delete}" >Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if = "${totalPages > 1}">
        <span th:each = "i: ${#numbers.sequence(1, totalPages)}">
            <a th:if = "${currentPage != i}" th:href="@{'/admin/category/list/page/' + ${i} + '?sortBy=' + ${sortBy} + '&sortOrder=' + ${sortOrder}}">[[${i}]]</a>
            <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;&nbsp;
        </span>
</div>
<br>
<span th:text="#{label.add}">Add:</span>:
<form th:action = "@{/admin/category/add}" th:object="${category}" method="post">
    <input type="text" th:field="*{name}" placeholder="Activity name" minlength="3" maxlength="30" pattern="[.0-9A-Za-zА-Яа-яҐґІіЇіЄє\s]{3,30}" required/>
    <button type="submit" th:text="#{label.save}" >Save</button>
</form>
</body>
</html>
