<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Start page</title>
</head>
<body>
<div>
    <a th:href = "@{?lang=en}">ENG</a>
    <a th:href = "@{?lang=ua}">УКР</a>
</div>
    <hr>
<h3 th:text ="#{label.welcome}"></h3>
<span th:text="#{label.please}">Please,</span>,&nbsp;
<a th:href="@{/login}" th:text="#{label.signin}">Sign-in</a>&nbsp;
<span th:text="#{label.or}">or</span>&nbsp;
<a th:href="@{/add}" th:text="#{label.register}">Register</a>
</body>
</html>