<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit My Data</title>
</head>
<body>

<div>
    <a th:href="@{?lang=en}">ENG</a>
    <a th:href="@{?lang=ua}">УКР</a>
</div>
<hr>
<div>
    <a th:href="@{/logout}" th:text="#{label.signout}">Logout</a>
    <a th:href="@{/personal/usersactivity/list}" th:text="#{label.back}">Back</a>
</div>
<h4 th:href th:text="#{label.edit}">
</h4>
<form th:action="@{/personal/user/edit/{id} (id=${user.id})}" th:object="${user}" method="post">

    <label th:text="#{label.login}">Login</label>:&nbsp;<label th:text="${user.login}"></label>
    <br>
    <table>
        <tr>
            <td>
                <label th:text="#{label.password}">Password</label>:
            </td>
            <td>
                <input th:name="password" placeholder="Change password" minlength="3" maxlength="30"
                   pattern="[_0-9A-Za-z]{3,30}"/>
            </td>
        </tr>
        <tr>
            <td>
            <label th:text="#{label.name}">Name</label>:
            </td>
            <td>
                <input th:field="*{name}" type="text" minlength="3" maxlength="30"
                   pattern="[_.0-9A-Za-zА-Яа-яҐґІіЇіЄє\s]{2,30}"
                   required/>
            </td>
        </tr>
    </table>
    <button type="submit" th:text="#{label.save}">Save</button>
    <button type="reset" th:text="#{label.restore}">Restore</button>
</form>
</body>
</html>