<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add User</title>
</head>
<body>
    <div>
        <a th:href = "@{/login}">Login</a>
    </div>



    <div>

        <form th:action="@{/add}" th:object="${user}" method="post">
            <label>Login</label>:
            <input name="login" th:field= "*{login}" type = "text" minlength="3" maxlength="30" placeholder="Login" required/> <!-- add pattern -->
            <br>
            <label>Password</label>:
            <input name="password" th:field= "*{password}" type = "text" minlength="3" maxlength="30" placeholder="Password" required/> <!-- add pattern -->
            <br>
            <label>Name</label>:
            <input name = "name" th:field="*{name}" type = "text" minlength="3" maxlength="30" placeholder="Name" required/> <!-- add pattern -->
            <br>
            <button type="submit">Save</button>
        </form>
        <table>

        </table>
    </div>

</body>
</html>