<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User List</title>
</head>
<body>
    <div>
        <a th:href = "@{/logout}">Logout</a>
        <a th:href = "@{/admin/user/list}">Users</a>
        <a th:href = "@{/admin/category/list}">Categories</a>
        <a th:href = "@{/admin/activity/list}">Activities</a>
        <a th:href = "@{/admin/activity/stat}">Activities of Users</a>
    </div>



    <div>
        <table>
            <thead>
            <tr>
                <th>
                    <a th:href ="@{'/admin/user/list/page/' + ${currentPage} + '?sortBy=id&sortOrder=' + ${sortReverse}}">
                    ID
                    </a>
                </th>
                <th>
                    <a th:href ="@{'/admin/user/list/page/' + ${currentPage} + '?sortBy=login&sortOrder=' + ${sortReverse}}">
                    Login
                    </a>
                </th>
                <th>
                    <a th:href ="@{'/admin/user/list/page/' + ${currentPage} + '?sortBy=name&sortOrder=' + ${sortReverse}}">
                    Name
                    </a>
                </th>
                <th>
                    Role
                </th>
                <th>

                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "user : ${users}">
                <td th:text = "${user.id}"></td>
                <td th:text = "${user.login}"></td>
                <td th:text = "${user.name}"></td>
                <td th:text = "${user.role}"></td>
                <td>
                    <form th:action = "@{/admin/user/edit/{id} (id=${user.id})}" method="get" style="display: inline;">
                        <button type="submit">Edit</button>&nbsp;
                    </form>
                </td>
                <td>
                    <form th:action = "@{/admin/user/delete/{id} (id=${user.id})}" method="post" style="display: inline;">
                        <button type="submit">Delete</button>
                    </form>
                    <a th:href = "@{/admin/usersactivity/list/{id} (id=${user.id})}">Show activities </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if = "${totalPages > 1}">
        <span th:each = "i: ${#numbers.sequence(1, totalPages)}">
            <a th:if = "${currentPage != i}" th:href="@{'/admin/user/list/page/' + ${i} + '?sortBy=' + ${sortBy} + '&sortOrder=' + ${sortOrder}}">[[${i}]]</a>
            <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;&nbsp;
        </span>
    </div>
</body>
</html>