<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit User</title>
</head>
<body>
<div>
    <a th:href="@{?lang=en}">ENG</a>
    <a th:href="@{?lang=ua}">УКР</a>
</div>
<hr>
<div>
    <a th:href="@{/logout}" th:text="#{label.signout}">Logout</a>
    <a th:href="@{/admin/user/list}" th:text="#{label.users}">Users</a>
</div>
<h4 th:text="#{label.edituser}">
</h4>


<form th:action="@{/admin/user/edit/{id} (id=${user.id})}" th:object="${user}" method="post">
    <label>ID</label>:&nbsp;<label th:text="${user.id}"></label>
    <br>
    <label th:text="#{label.login}">Login</label>:&nbsp;<label th:text="${user.login}"></label>
    <br>
    <table>
        <tr>
            <td>
                <label th:text="#{label.password}">Password</label>:
            </td>
            <td>
                <input th:name="password" pattern="[_0-9A-Za-z]{3,30}" placeholder="New password"/>
            </td>
        </tr>
        <tr>
            <td>
                <label th:text="#{label.name}">Name</label>:
            </td>
            <td>
                <input th:field="*{name}" type="text" minlength="3" maxlength="30"
                       pattern="[_.0-9A-Za-zА-Яа-яҐґІіЇіЄє\s]{2,30}" required/>
            </td>

        </tr>
    </table>
    <br>
    <button type="submit" th:text="#{label.save}">Save</button>
    <button type="reset" th:text="#{label.restore}">Restore</button>
</form>

</body>
</html>