<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Activities List</title>
</head>
<body>
<div>
    <a th:href = "@{/logout}">Logout</a>
    <a th:href = "@{/admin/user/list}">Users</a>
    <a th:href = "@{/admin/category/list}">Categories</a>
    <a th:href = "@{/admin/activity/list}">Activities</a>
    <a th:href = "@{/admin/activity/stat}">Activities of Users</a>
</div>
<h4>
    Users Activities
</h4>
<div>
    <table>
        <thead>
        <tr>
            <th>
                <a th:href ="@{'/admin/activity/stat/page/' + ${currentPage} + '?sortBy=id&sortOrder=' + ${sortReverse}}">
                ID
                </a>
            </th>
            <th>
                <a th:href ="@{'/admin/activity/stat/page/' + ${currentPage} + '?sortBy=name&sortOrder=' + ${sortReverse}}">
                Name
                </a>
            </th>
            <th>
                <a th:href ="@{'/admin/activity/stat/page/' + ${currentPage} + '?sortBy=category&sortOrder=' + ${sortReverse}}">
                Category
                </a>
            </th>
            <th>
                <a th:href ="@{'/admin/activity/stat/page/' + ${currentPage} + '?sortBy=totalTime&sortOrder=' + ${sortReverse}}">
                Time
                </a>
            </th>
            <th>
                <a th:href ="@{'/admin/activity/stat/page/' + ${currentPage} + '?sortBy=userCount&sortOrder=' + ${sortReverse}}">
                Users
                </a>
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "act : ${activities}">
            <td th:text = "${act.id}"></td>
            <td th:text = "${act.name}"></td>
            <td th:text = "${act.categoryName}"></td>

            <td>
                <label><span th:text="${act.totalTimeHours}"></span></label>
                <label> h </label>
                <label><span th:text="${act.totalTimeMin}"></span></label>
                <label> m </label>
            </td>

            <td>
                <label><span th:text="${act.userCount}"></span></label>
            </td>
            <td>
                <!--
                <form th:action = "@{/admin/usersactivity/accept/{id} (id=${users_act.id})}" method="post" style="display: inline;">
                    <button type="submit">Accept</button>
                </form>
                <form th:action = "@{/admin/usersactivity/delete/{id} (id=${users_act.id})}" method="post" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>
                -->
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if = "${totalPages > 1}">
        <span th:each = "i: ${#numbers.sequence(1, totalPages)}">
            <a th:if = "${currentPage != i}" th:href="@{'/admin/activity/stat/page/' + ${i} + '?sortBy=' + ${sortBy} + '&sortOrder=' + ${sortOrder}}">[[${i}]]</a>
            <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;&nbsp;
        </span>
</div>
</body>
</html>
